<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Employees" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'custom', media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>


    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
  <ul class="navbar">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'All Employees', users_path %></li>
    <% if session[:username] == "superadmin" %>
      <li><%= link_to 'Add New Employee', new_user_path %></li>
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Login', login_path %></li>
    <% end %>
  </ul>
</nav>



    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
